<!DOCTYPE html>
<html ng-app="biznetApp">
<head>
  <title>COMESA News</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
  <body ng-controller="newsitemController">

    <div class="container">

      <!-- Form to save data through the endpoint-->
      <div class="col-sm-6">
        <form ng-submit="saveNewsItem(newsitem)">
          <div class="form-group">
            <input type="text" placeholder="Headline" ng-model="newsitem.headline" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Story" ng-model="newsitem.story" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Author" ng-model="newsitem.author" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      
      <!-- List to display data throung the endpoint-->
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="newsitem in newslist">
            <h4>{{newsitem.headline}}</h4>
            <p>{{newsitem.story}}</p>
            <p>{{newsitem.author}}</p>
          </li>
        </ul>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>